* {
  font-family: "Roboto Mono", serif;
}

.table-title {
  position: relative;
  left: 45rem;
  top: 10.7rem;
  max-width: 60rem;
  color: white;
  background-color: #343a40;
}

#title {
  position: relative;
  left: 10vw;
  top: 5vh;
}

.new-emp-div {
  position: relative;
  left: 10vw;
  top: 7vh;
}

.new-emp {
  position: absolute;
  color: white;
  background-color: rgb(150, 153, 155);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.new-emp:hover {
  box-shadow: 0 8px 16px 0 #c8c8bd, 0 6px 20px 0 #c8c8bd;
  color: white;
  background-color: #3fa3f5;
  transition-duration: 0.5s;
}

.table {
  position: relative;
  left: 45rem;
  top: 10.2rem;
  width: 60rem;
}

#user-list {
  position: relative;
  left: 11.4rem;
  top: -17.5rem;
  width: 19.3rem;
}

#submit-form {
  position: relative;
  left: 6rem;
}

#submit {
  position: relative;
  left: -7.2rem;
  top: -10rem;
  width: 18.6rem;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

#roles-list {
  position: relative;
  left: 11.4rem;
  top: -13rem;
  width: 18.6rem;
}

h5 {
  position: relative;
  left: 11.3rem;
  top: -18rem;
}

#role {
  position: relative;
  left: 11.3rem;
  top: -13rem;
}
