<header *ngIf="route.children.length === 0 || router.url.includes('new')">
  <button type="button" routerLink="new-project">Create new Project</button>
</header>

<main>
  <router-outlet></router-outlet>
  <div *ngIf="route.children.length === 0 || router.url.includes('new')">
    <h1 class="table-title">
      Projects
      <input type="text" class="search-box" placeholder="Search..." />
    </h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Project Name</th>
          <th>Description</th>
          <th>Stage</th>
          <th>Actions</th>
          <th>References</th>
        </tr>
        <div
          style="position: absolute; left: 15vw;"
          *ngIf="projects?.length == 0"
        >
          There are no projects in the database
        </div>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; let i = index">
          <td class="align-middle">{{ project.projectName }}</td>
          <td class="align-middle">{{ project.description }}</td>
          <td class="align-middle">{{ project.stage }}</td>
          <td>
            <button class="delete-btn" (click)="onDeleteProject(i)">
              Delete
            </button>
          </td>
          <td class="align-middle">
            <a routerLink="/employees">Assigned Employee</a>
            <br />
            <a [routerLink]="project.id">Project Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
