<header>
  <button type="button" (click)="onNewProject()">Create new Project</button>
</header>

<main>
  <app-alert *ngIf="!isNewProjectFormClosed"></app-alert>

  <h1>Projects</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Stage</th>
        <th>References</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let project of projects">
        <td class="align-middle">{{ project.projectName }}</td>
        <td class="align-middle">{{ project.description }}</td>
        <td class="align-middle">{{ project.stage }}</td>
        <td class="align-middle">
          <a routerLink="/employees">Assigned Employee</a>
          <br />
          <a [routerLink]="['/projects', project.id]">Project Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</main>
