.form {
  margin-left: 7rem;
  max-width: 20vw;
}

.signup {
  position: absolute;
  color: white;
  background-color: rgb(150, 153, 155);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.signup:hover {
  box-shadow: 0 8px 16px 0 #c8c8bd, 0 6px 20px 0 #c8c8bd;
  color: white;
  background-color: #3fa3f5;
  transition-duration: 0.5s;
}

.signup:disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgb(209, 212, 212);
}

.login {
  position: relative;
  left: 5vw;
  color: white;
  background-color: rgb(150, 153, 155);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login:hover {
  box-shadow: 0 8px 16px 0 #c8c8bd, 0 6px 20px 0 #c8c8bd;
  color: white;
  background-color: #3fa3f5;
  transition-duration: 0.5s;
}

.login:disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgb(209, 212, 212);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input[type="checkbox"] {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0.5rem;
  left: 0.5rem;
}

.show-password {
  position: relative;
  float: right;
  top: 26px;
}
